<a href="https://colab.research.google.com/github/har012/OOP/blob/main/class_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1**

In [ ]:
pie=float(22/7)
class circle():
  def __init__(self,radius):
    self.radius = radius
  def area(self):
    return(pie)*(self.radius**2)
  def perimeter(self):
    return 2*(pie)*(self.radius)
r=float(input("Enter the value of radius of the circle :"))
object = circle(r)
print("Area of the circle:", round(object.area(),2))
print("Perimeter of the circle:", round(object.perimeter(),2))

Enter the value of radius of the circle :15
Area of the circle: 707.14
Perimeter of the circle: 94.29

# **2**

In [ ]:
class Faculty:
    
    def input_data(self):
        self.name = str(input("Enter the name of the Faculty : "))
        self.emp_ID = int(input("Enter the faculty ID : "))
        self.branch = str(input("Enter the branch : "))
        self.salary = int(input("Enter the salary : "))

    def out_data(self):
        print(f"Faculty Name : {self.name} \n Faculty Employee ID : {self.emp_ID} \n Faculty Branch : {self.branch} \n Faculty Salary : {self.salary}\n")
        return self.name, self.emp_ID, self.branch, self.salary

list_fac = []
for x in range(1,6):
    temp = Faculty()
    print(f"\nEnter the data for {x} faculty : ")
    temp.input_data()
    list_fac.append(temp)

for x in range(0,5):
    print(f"\n\n\nData of {x+1} faculty : ")
    list_fac[x].out_data()

Enter the data for 1 faculty :
Enter the name of the Faculty : Steve
Enter the faculty ID : 001
Enter the branch : cse
Enter the salary : 15000

Enter the data for 2 faculty :
Enter the name of the Faculty : Tony
Enter the faculty ID : 002
Enter the branch : cse
Enter the salary : 80000

Enter the data for 3 faculty :
Enter the name of the Faculty : Raju
Enter the faculty ID : 003
Enter the branch : cse
Enter the salary : 20000

Enter the data for 4 faculty :
Enter the name of the Faculty : Chris
Enter the faculty ID : 004
Enter the branch : cse
Enter the salary : 30000

Enter the data for 5 faculty :
Enter the name of the Faculty : Rogers
Enter the faculty ID : 005
Enter the branch : cse
Enter the salary : 25000



Data of 1 faculty :
Faculty Name : Steve
 Faculty Employee ID : 1
 Faculty Branch : cse
 Faculty Salary : 15000




Data of 2 faculty :
Faculty Name : Tony
 Faculty Employee ID : 2
 Faculty Branch : cse
 Faculty Salary : 80000




Data of 3 faculty :
Faculty Name : Raju
 Faculty Employee ID : 3
 Faculty Branch : cse
 Faculty Salary : 20000




Data of 4 faculty :
Faculty Name : Chris
 Faculty Employee ID : 4
 Faculty Branch : cse
 Faculty Salary : 30000




Data of 5 faculty :
Faculty Name : Rogers
 Faculty Employee ID : 5
 Faculty Branch : cse
 Faculty Salary : 25000

# **3**

In [ ]:
class Account:
    def __init__(self, account_number, account_holder_name, amount):
        self.accountNumber = account_number
        self.accountHolderName = account_holder_name
        self.Amount = amount

    def deposit(self):
        deposit_Amount = int(input("Enter the amount to deposit in your bank: "))
        self.Amount += deposit_Amount
        print(f"Amount deposited : {deposit_Amount} \n New Balance : {self.Amount}")

    def withdraw(self):
        withdraw_Amount = int(input("Enter the amount to withdraw from your account: "))
        if withdraw_Amount > self.Amount:
            print("Low bank balance.")
            return -1
        self.Amount -= withdraw_Amount
        print(f"Amount withdraw : {withdraw_Amount} \n New Balance Avaliable= {self.Amount}")
        return withdraw_Amount

    def check_bank_Balance(self):
        print(f"Account Balance : {self.Amount}")
        return self.Amount

    def getDetails(self):
        print(f"\n Account Number : {self.accountNumber} \n Account Holder Name : {self.accountHolderName} \n Account Balance : {self.Amount}")
        return self.accountNumber, self.accountHolderName, self.Amount

a1 = Account(21, "Harshith.R.N", 20000)
a1.deposit()
withdraw = a1.withdraw()
balance = a1.check_bank_Balance()
details = a1.getDetails()

Enter the amount to deposit in your bank: 5000
Amount deposited : 5000
 New Balance : 25000
Enter the amount to withdraw from your account: 500
Amount withdraw : 500
 New Balance Avaliable= 24500
Account Balance : 24500

 Account Number : 21
 Account Holder Name : Harshith.R.N
 Account Balance : 24500

# **4**

In [ ]:
class Student:
    marks = []
    def getData(self, rn, name, m1, m2, m3):
        Student.rn = rn
        Student.name = name
        Student.marks.append(m1)
        Student.marks.append(m2)
        Student.marks.append(m3)
        
    def displayData(self):
        print ("Roll Number is: ", Student.rn)
        print ("Name is: ", Student.name)
        #print ("Marks in subject 1: ", Student.marks[0])
        #print ("Marks in subject 2: ", Student.marks[1])
        #print ("Marks in subject 3: ", Student.marks[2])
        print ("Marks are: ", Student.marks)
        print ("Total Marks are: ", self.total())
        print ("Average Marks are: ", self.average())
        
    def total(self):
        return (Student.marks[0] + Student.marks[1] +Student.marks[2])
    
    def average(self):
        return ((Student.marks[0] + Student.marks[1] +Student.marks[2])/3)
    
r = int (input("Enter the roll number: "))
name = input("Enter the name: ")
m1 = int (input("Enter the marks scored in the subject 1: "))
m2 = int (input("Enter the marks scored in the subject 2: "))
m3 = int (input("Enter the marks scored in the subject 3: "))

s1 = Student()
s1.getData(r, name, m1, m2, m3)
s1.displayData()

Enter the roll number: 56
Enter the name: sh
Enter the marks scored in the subject 1: 45
Enter the marks scored in the subject 2: 45
Enter the marks scored in the subject 3: 45
Roll Number is:  56
Name is:  sh
Marks are:  [45, 45, 45]
Total Marks are:  135
Average Marks are:  45.0

# **5**

In [ ]:
class Patient:
  def __init__(self, name, admission_date, symptoms : list, oxygen_level, discharge_date):
    self.name = name
    self.admission_date = admission_date
    self.symptoms = symptoms
    self.oxygen_level = oxygen_level
    self.discharge_date = discharge_date

class Data:
  def __init__(self):
    self.oxygen_support = []
    self.general_ward = []

  def Patient(self, patient):
    if (patient.oxygen_level < 90):
      self.oxygen_support.append(patient)
    else:
      self.general_ward.append(patient)

  def numberOxygen(self):
    print(f"Totaal number of patients needing oxygen support is {len(self.oxygen_support)}")

  def numberGeneral(self):
    print(f"Total number of patients in general ward is {len(self.general_ward)}")

  def totalPatients(self):
    print(f"Total number of patients is {len(self.general_ward)+len(self.oxygen_support)}")

  def patientInfo(self):
    print("Patients in oxygen support")
    for patient in self.oxygen_support:
      print("\n")
      print("Name:", patient.name)
      print("Admission Date:", patient.admission_date)
      print("symptoms:", patient.symptoms)
      print("oxygen level:", patient.oxygen_level)
      print("Discharge Date:", patient.discharge_date)
      print("\n")

    print("Patients in General ward")
    for patient in self.general_ward:
      print("Name:", patient.name)
      print("Admission Date:", patient.admission_date)
      print("symptoms:", patient.symptoms)
      print("oxygen level:", patient.oxygen_level)
      print("Discharge Date:", patient.discharge_date)
      print("\n")

patient1 = Patient("JOHN", "15/09/2021", ["Fever", "Nausea"], 75, "21/09/2021")
patient2 = Patient("CHADWIK", "16/09/2021", ["Fatigue", "Fever"], 110, "22/09/2021")

db = Data()
db.Patient(patient1)
db.Patient(patient2)
db.patientInfo()
db.numberOxygen()
db.numberGeneral()
db.totalPatients()

Patients in oxygen support


Name: JOHN
Admission Date: 15/09/2021
symptoms: ['Fever', 'Nausea']
oxygen level: 75
Discharge Date: 21/09/2021


Patients in General ward
Name: CHADWIK
Admission Date: 16/09/2021
symptoms: ['Fatigue', 'Fever']
oxygen level: 110
Discharge Date: 22/09/2021


Totaal number of patients needing oxygen support is 1
Total number of patients in general ward is 1
Total number of patients is 2

# **6**

In [ ]:
class time():
  def __init__(self,hr=0,min=0,sec=0):
    self.hour = hr
    self.minute = min
    self.second = sec
  def dis(self):
    print("Time :",self.hour,":",self.minute,":",self.second)
t1 = time()
t1.dis()
t1.hour = 11
t1.minute = 59
t1.second = 59
t1.dis()

Time : 0 : 0 : 0
Time : 11 : 59 : 59

# **7**

In [ ]:
class student():
  def __init__(self,Student_Name,Student_Age,Student_Roll):
    self.Name = Student_Name
    self.Age = Student_Age
    self.Roll = Student_Roll

s1 = student("RAHUL", 20, 30)
s2 = student("ROHIT", 19, 36)
def check(s1, s2):
  if s1.Age == s2.Age:
    print("Age of the students are equal")
  else:
    print("Age of the students are not equal")
check(s1,s2)

Age of the students are not equal

# **8**

In [ ]:
class student():
  semester = "3"
  institute = "Indian institute of iinformation technology, Dharwad"
  def __init__(self,Name,USN):
    self.Name = Name
    self.USN = USN
  def display(self):
    print("Student Name: ",self.Name)
    print("Student USN: ",self.USN)

  @classmethod
  def dis_class(cls):
    print("Semester",cls.semester)
    print("Institute",cls.institute,"\n\n")
    
  @staticmethod
  def printclass(Name, USN, semester, institute):
    print("Student name: ",Name)
    print("student USN: ", USN)
    print("semester: ",semester)
    print("Institute: ",institute)

s1 = student("Harshith.R.N", 56)
s1.display()
s1.dis_class()
s1.printclass("Harshith.R.N",56,"3", "Indian institute of iinformation technology, Dharwad")

Student Name:  Harshith.R.N
Student USN:  56
Semester 3
Institute Indian institute of iinformation technology, Dharwad


Student name:  Harshith.R.N
student USN:  56
semester:  3
Institute:  Indian institute of iinformation technology, Dharwad

# **9**

In [25]:
class Student_Uni:

  def __init__(self, Name, roll_number, semester, laptop_name, laptop_cpu, laptop_ram, laptop_hard_disk):
    self.name = Name
    self.roll_num = roll_number
    self.sem = semester
    self.laptop = self.Laptop(laptop_name, laptop_cpu, laptop_ram, laptop_hard_disk)


  class Laptop:
    def __init__(self, name, cpu, ram : int, hard_disk):
      self.name = name
      self.cpu = cpu
      self.ram = ram
      self.hard_disk = hard_disk

    def specifications(self):
      print("Laptop Name:", self.name)
      print("Laptop CPU:", self.cpu)
      print("Laptop RAM:", self.ram, "GB")
      print("Laptop Hard disk:", self.hard_disk)

  def disp(self):
    print("Name:", self.name)
    print("Roll Number:", self.roll_num)
    print("Sem:", self.sem)
    self.laptop.specifications()

x = Student_Uni("Harshith.R.N", 56 , 3,"ASUS Vivobook pro 17", "Intel i7", 8, "1TB SSD")
x.disp()

Name: Harshith.R.N
Roll Number: 56
Sem: 3
Laptop Name: ASUS Vivobook pro 17
Laptop CPU: Intel i7
Laptop RAM: 8 GB
Laptop Hard disk: 1TB SSD